.router-outlet-container {
  /* background-image: url('../../../../assets/icons/kobe.jpg'), #f0f0f0; */
  /* background-image: url('https://img.picui.cn/free/2024/06/15/666d5f62d9b37.jpg'); */
  /* background-attachment: fixed; */
  /* background-size: cover;  */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-layout {
  background-color: rgba(255, 255, 255, 0.9);
  /* 白色背景，有一定透明度 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 盒子阴影 */
  max-width: 300px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-field-item {
  margin-bottom: 15px;
}

.login-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}