table {
    width: 100%;
}
.limited-width {
    max-width: 400px; /* 设置最大宽度，可以根据需要调整 */
    /* white-space: nowrap; 防止换行 */
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis; /* 添加省略号 */
}