body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
video {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
#localVideo {
    width: 30%;
    height: auto;
    margin: 10px;
}
#remoteVideo {
    width: 60%;
    height: auto;
    margin: 10px;
}