/* 设置背景图案 */
body {
  background-image: url('../../../../assets/icons/kobe.jpg');
  /* 替换为实际的背景图片URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

.router-outlet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-layout {
  background-color: rgba(255, 255, 255, 0.9);
  /* 白色背景，有一定透明度 */
  padding: 30px;
  /* 增大整体边距 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 盒子阴影 */
  max-width: 400px;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-field-item {
  margin-bottom: 20px;
  /* 增大边距 */
}

.register-label {
  margin-bottom: 10px;
  /* 调整标签与输入框之间的距离 */
  font-weight: bold;
  color: #333;
}

.register-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.warning-text {
  color: red;
  font-size: 14px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  /* 绿色背景 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #218838;
  /* 深绿色背景 */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}