<main class="router-outlet-container">
  <div class="register-layout">
    <form class="register-form">
      <div class="register-field-item">
        <label class="register-label" for="register-username-field">username: </label>
        <input class="register-field" id="register-username-field" [(ngModel)]="username" name="username" type="text" placeholder="username">
      </div>
      <div class="register-field-item">
        <label class="register-label" for="register-password-field">password: </label>
        <input class="register-field" id="register-password-field" [(ngModel)]="password" name="password" type="password" placeholder="password">
      </div>
      <div class="register-field-item">
        <label class="register-label">gender:</label>
        <label>
          <input type="radio" name="gender" value="female" [(ngModel)]="gender" name="gender"> female
        </label>
        <label>
          <input type="radio" name="gender" value="male" [(ngModel)]="gender" name="gender"> male
        </label>
      </div>
      <div class="register-field-item">
        <label class="register-label" for="register-age-field">age: </label>
        <input class="register-field" id="register-age-field" [(ngModel)]="age" name="age" type="number" placeholder="age">
        <span *ngIf="isUnderage()" class="warning-text">illegal for license</span>
      </div>
      <div class="register-field-item">
        <label class="register-label" for="register-phone-field">phone: </label>
        <input class="register-field" id="register-phone-field" [(ngModel)]="phone" name="phone" type="text" placeholder="phone">
      </div>
      <div class="register-field-item">
        <label class="register-label" for="register-email-field">email: </label>
        <input class="register-field" id="register-email-field" [(ngModel)]="email" name="email" type="email" placeholder="email">
      </div>
      <div class="register-field-item">
        <button class="register-button" id="register-submit-button" type="button"
                (click)="register()">register !
        </button>
      </div>
    </form>

  </div>
</main>
