.user-info-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 50px;
}

.user-info-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.user-info-container form {
  display: flex;
  flex-direction: column;
}

.user-info-container form div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.user-info-container form label {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: #555555;
  display: flex;
  align-items: center;
}

.user-info-container form input {
  flex: 2;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.user-info-container form input[type="radio"] {
  flex: none;
  margin-right: 5px;
}

.user-info-container form input:disabled {
  background-color: #f9f9f9;
}

.user-info-container form input:focus {
  border-color: #007bff;
  outline: none;
}

.user-info-container button {
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-info-container button:hover {
  background-color: #0056b3;
}

.mock {
  text-align: center;
  font-family: 'Arial', sans-serif; /* 可以选择其他更具风格的字体 */
  font-size: 1.5em; /* 调整字体大小 */
  color: #ffffff; /* 字体颜色 */
  background: linear-gradient(135deg, #ff416c, #ff4b2b); /* 渐变背景颜色 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 边框圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  transition: background 0.3s, transform 0.3s; /* 添加过渡效果 */
  max-width: 300px; /* 设置最大宽度 */
  margin: 20px auto; /* 上下外边距为20px，左右自动对齐 */
}

.mock:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c); /* 悬停时背景颜色反转 */
  transform: scale(1.05); /* 悬停时稍微放大 */
}
