<div *ngIf="userInfo" class="user-info-container">
  <h2>User Information</h2>
  <form>
    <div>
      <label>Username:</label>
      <input [(ngModel)]="userInfo.username" name="username" [disabled]="true"/>
    </div>
    <div>
      <label>Gender:</label>
      <div>
        <label>
          <input type="radio" value="female" [(ngModel)]="userInfo.gender" name="gender" [disabled]="!editMode"> Female
        </label>
        <label>
          <input type="radio" value="male" [(ngModel)]="userInfo.gender" name="gender" [disabled]="!editMode"> Male
        </label>
      </div>
    </div>
    <div>
      <label>Age:</label>
      <input [(ngModel)]="userInfo.age" name="age" [disabled]="!editMode"/>
    </div>
    <div>
      <label>Phone:</label>
      <input [(ngModel)]="userInfo.phone" name="phone" [disabled]="!editMode"/>
    </div>
    <div>
      <label>Email:</label>
      <input [(ngModel)]="userInfo.email" name="email" [disabled]="!editMode"/>
    </div>
    <div>
      <label>Point:</label>
      <input [(ngModel)]="userInfo.point" name="point" [disabled]="true"/>
    </div>
    <div>
      <label>Is_passed:</label>
      <input [(ngModel)]="userInfo.is_passed" name="is_passed" [disabled]="true"/>
    </div>
    <button (click)="modify()">{{ button_msg }}</button>
  </form>
</div>
<div *ngIf="!driverPunishments.length" class="data-display-title" id="no-punishment">目前没有扣分记录...</div>
<div *ngIf="driverPunishments.length" class="data-display-title" id="have-punishment">哈哈 以下是你的扣分记录🤣👉</div>
<div mat-dialog-content *ngIf="driverPunishments.length">
  <table mat-table [dataSource]="driverPunishments" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> type </th>
          <td mat-cell *matCellDef="let element"> {{element.punishment_type}} </td>
      </ng-container>

      <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef> reason </th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>

      <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> score </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="driverPunishmentsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: driverPunishmentsDisplayedColumns;"></tr>
  </table>
</div>
<app-line-chart [labels]="punishment_types_list" [data]="punishment_score_list"></app-line-chart>