.user-info-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 50px;
}

.user-info-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.user-info-container form {
  display: flex;
  flex-direction: column;
}

.user-info-container form div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.user-info-container form label {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: #555555;
  display: flex;
  align-items: center;
}

.user-info-container form input {
  flex: 2;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.user-info-container form input[type="radio"] {
  flex: none;
  margin-right: 5px;
}

.user-info-container form input:disabled {
  background-color: #f9f9f9;
}

.user-info-container form input:focus {
  border-color: #007bff;
  outline: none;
}

.user-info-container button {
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-info-container button:hover {
  background-color: #0056b3;
}



#have-punishment {
  color: #ffffff; /* 字体颜色 */
  background: linear-gradient(135deg, #ff416c, #ff4b2b); /* 渐变背景颜色 */
}

#no-punishment {
  color: #ffffff; /* 字体颜色 */
  background: linear-gradient(135deg, #074e36, #02785f); /* 渐变背景颜色 */
}

#have-punishment:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c); /* 悬停时背景颜色反转 */
  transform: scale(1.05); /* 悬停时稍微放大 */
}

#no-punishment:hover {
  background: linear-gradient(135deg, #074e36, #02785f); /* 悬停时背景颜色反转 */
  transform: scale(1.05); /* 悬停时稍微放大 */
}


.limited-width {
  max-width: 400px; /* 设置最大宽度，可以根据需要调整 */
  /* white-space: nowrap; 防止换行 */
  overflow: hidden; /* 隐藏溢出部分 */
  text-overflow: ellipsis; /* 添加省略号 */
}
.custom-table {
  width: 100%;
  border-collapse: collapse; /* 合并边框 */
}

.custom-table th, .custom-table td {
  border: 1px solid #ccc; /* 边框颜色 */
  padding: 8px; /* 单元格内边距 */
  text-align: left; /* 文本左对齐 */
}

.custom-table th {
  background-color: #f2f2f2; /* 表头背景色 */
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9; /* 偶数行背景色 */
}

.custom-table tr:hover {
  background-color: #f1f1f1; /* 悬停行背景色 */
}

.custom-table button {
  background-color: #007bff; /* 按钮背景色 */
  color: white; /* 按钮文字颜色 */
  border: none;
  border-radius: 4px; /* 按钮圆角 */
  padding: 5px 10px; /* 按钮内边距 */
  cursor: pointer;
}

.custom-table button:hover {
  background-color: #0056b3; /* 按钮悬停背景色 */
}