<div class="container">
  <!-- <div class="debug-info">{{ this.physics.car.velocity.length() }}</div>
  <div class="debug-info">{{ this.carcontrol.getStatus().rotation }}</div> -->
  <div class="three-notice-container">
    <div id="three-container"></div>
    <div id="notice-container"></div>
  </div>
  <div id="input-container">
    <form>
      <button id="exit-button" (click)="exit()">EXIT</button>
      <input [(ngModel)]="chat_msg" name="chat_msg" id="three-input-box" (focus)="isTyping = true"
        (blur)="isTyping = false" />
      <button (click)="sendChatMsg()" class="button fancy-button" id="three-send-btn">
        <i class="material-icons">send</i>send
      </button>
    </form>
  </div>
  <div class="chat-type-container">
    <label for="chatType">Chat Type:</label>
    <select id="chatType" [(ngModel)]="selectedType">
      <option *ngFor="let singleChatType of chatType" [value]="singleChatType">{{singleChatType}}</option>
    </select>
    <div *ngIf="selectedType === 'private'">
      <label for="inputBox">对方ID </label>
      <input id="inputBox" type="text" [(ngModel)]="privateToID" placeholder="输入私聊方ID...">
    </div>
    <!-- <div>You selected:{{selectedType}} {{privateToID}}</div> -->
  </div>

  <app-video-chat></app-video-chat>
</div>