canvas { display: block; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#three-container {
  width: 70%;
  height: 80vh;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid black;
}
#notice-container {
  width: calc(30% - 80px); /* 100% - 70% - 2 * margin-left */
  height: 80vh;
  margin-top: 30px;
  margin-left: 20px;
  border: 1px solid blue;
}
#input-container {
  width: calc(100% - 60px); /* full width minus 2 * margin-left */
  height: 5vh;
  margin-top: 15px;
  margin-left: 30px;
  /* border: 1px solid green; */
}
#three-input-box {
  width: 90%;
  height: 5vh;
  margin: 0;
  padding: 0;
  font-size: 30px;
  border-radius: 5px;
}

#three-send-btm{
  margin-left: 10px;
  height: 40px;
  width: 100px;
  font-size: 20px;
}