.app-navi{
  height: 40px;
}

.example-spacer {
    flex: 1 1 auto;
}

.app-navi-title {
  font-size: 20px
}

.app-navi-button {
    height: 20px;
    width: auto;
    font-size: 15px;
    margin: 5px;
}

.app-navi-icon {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
