<mat-toolbar class="app-navi">
    <a routerLink="">
        <img src="assets/icons/steering-wheel.svg" class="top-bar-navi-icon" alt="icon" />
    </a>
    <span class="top-bar-navi-title">Subject Three</span>
    <span class="example-spacer"></span>
    <div class="top-bar-navi-button-container">
        <button mat-button *ngIf="!isLoggedIn" class="top-bar-navi-button" routerLink="login">
            sign in
        </button>
        <button mat-button *ngIf="!isLoggedIn" class="top-bar-navi-button" routerLink="register">
            sign up
        </button>
        <button mat-button *ngIf="isLoggedIn" class="top-bar-navi-button" routerLink="hall">
            three
        </button>
        <button mat-button *ngIf="isLoggedIn" class="top-bar-navi-button" (click)="gotoSpace()">
            space
        </button>
        <button mat-button *ngIf="isLoggedIn" class="top-bar-navi-button" (click)="gotoExamRecord()">
            record
        </button>
        <button mat-button *ngIf="isLoggedIn" class="top-bar-navi-button" (click)="logout()">
            log out
        </button>
    </div>
</mat-toolbar>